@import "tailwindcss";

#guests-page #manage-guests-view,
#guests-page.adding-guests #new-guests-view {
    display: flex;
    flex-direction: column;
}

#guests-page.adding-guests #manage-guests-view,
#guests-page #new-guests-view {
    display: none;
}

#guests-page:not(.adding-guests) #manage-guests-view-nav-button,
#guests-page.adding-guests #new-guests-view-nav-button {
    background-color: var(--primary-dark);
}

#guest-list-controls > * {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.guests-page-nav-button {
    background-color: var(--primary);
    color: var(--background);
    font-weight: 700;
}

.guest-entry:not(:last-of-type) {
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--background-dark);
}

.guest-status-badge {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 7px;
}

.guest-status-badge[data-guest-status="Invited"] {
    background-color: var(--background-dark);
}

.guest-status-badge[data-guest-status="Attending"] {
    background-color: var(--success);
}

.guest-status-badge[data-guest-status="Not Attending"] {
    background-color: var(--danger);
}

.guest-status-badge[data-guest-status="Maybe Attending"] {
    background-color: var(--secondary);
}

.guest-status-invited-icon {
    color: var(--background-dark);
}

.guest-status-attending-icon {
    color: var(--success);
}

.guest-status-not-attending-icon {
    color: var(--danger);
}

.guest-status-maybe-attending-icon {
    color: var(--secondary);
}

#guests-stats-row {
    gap: 3rem;
}

.guests-stat {
    width: 200px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--background-dark);
}