@import "tailwindcss";

#guests-page #manage-guests-view,
#guests-page.adding-guests #new-guests-view {
    display: flex;
    flex-direction: column;
}

#guests-page.adding-guests #manage-guests-view,
#guests-page #new-guests-view {
    display: none;
}

#guests-page:not(.adding-guests) #manage-guests-view-nav-button,
#guests-page.adding-guests #new-guests-view-nav-button {
    background-color: var(--primary-dark);
}

#guest-list-controls > * {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.guests-page-nav-button {
    background-color: var(--primary);
    color: var(--background);
    font-weight: 700;
}

.guest-status-invited-icon {
    color: var(--background-dark);
}

.guest-status-attending-icon {
    color: var(--success);
}

.guest-status-not-attending-icon {
    color: var(--danger);
}

.guest-status-maybe-attending-icon {
    color: var(--secondary);
}